* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #081b29;
    color: aliceblue;
}

/* header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: .3;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

/* headre End  */

/* section home */
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

/* home End */

/* .home-content */
.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 46px;
    font-weight: 700;
}

.home-content h2 {
    padding-bottom: 10px;
    font-size: 35px;
    font-weight: 700;
}

.home-content h3 {
    /* margin: 10px; */
    padding-bottom: 2px;
    font-size: 30px;
    font-weight: 900;
    font-family: monospace;
    color: #00abf0;
}

.home-content span {
    color: crimson;
}

.home-content p {
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 .home-content h4 {
    color: cadetblue;
}